.container {
    display: flex;
}
.rightColumn{
    margin-left: 20px;
}
.left__column{
    display: flex;
    flex-direction: row;
}
.leftimg__column{
    display: flex;
}
.arrow__icon1{
    display: flex;
    margin-left: 50px;
    margin-top: 25px;
}
.arrowblue{
    display: flex;
    align-items: center;
    margin-left: 45px;
}
.arrowblue1{
    margin: 16px;
}
.main__search{
    width: 436px;
    height: 46px;
    color:#02131F;
}
.main__button{
    width: 255px;
    height: 46px;
    border-radius: 6px;
    margin-left: 20px;
    background-color: #6AB8EE;
    border-radius: 6px;
    border: none;
}
.maintext__button{
    font-size: 16px;
    color: #FFFFFF;
}
.main__columns{
    display: flex;
    flex-direction: column;
}
.main__rec{
    display: flex;
    width: 88%;
    height: 315px;
    background-color: #005692;
    margin-top: 12px;
    padding: 40px 60px 20px 40px;
    z-index: 1;
    position: relative;
    justify-content: space-between;
}
.main__ypravlenie{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
    color: #9D9D9D;
}
.main__ypravlenie1{
    margin-bottom: 18px;
}
.mainrec__design{
    position: absolute;
    z-index: -1;
    margin-left: 300px;
    margin-bottom: 200px;
}
.mainrec__text1{
    font-size: 40px;
    color:#FFFFFF;
    font-weight: 700;
}
.mainrec__text2{
    font-size: 40px;
    color:#FFFFFF;
    font-weight: 700;
    margin-bottom: 10px;
}
.mainrec__text3{
    font-size: 20px;
    color:#FFFFFF;
    font-weight: 400;
}
.mainrec__text4{
    font-size: 20px;
    color:#FFFFFF;
    font-weight: 400;
    margin-bottom: 27px;
}
.mainrec__text5{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.8;
}
.button__rec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 46px;
    background-color:#3378A8;
    border-radius: 4px;
}
.arrow__icon{
    display: flex;
    margin-left: 10px;
    margin-top: 3px;
    justify-content: center;
}
.buttontext__rec{
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
    color:#FFFFFF;
}
.mainrec__left{
    display: flex;
    flex-direction: column;
    margin-right: 23px;
}
.mainrec__right{
    display: flex;
    flex-direction: column;
}
.mainrec__img{
    margin-bottom: 13px;
}
.main__promo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
}
.main__new{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main__project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 21px;
}
.main__button3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 144px;
    height: 46px;
    background-color:#FFFFFF;
    color: #02131F;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
}
.main__button1{
    width: 186px;
    height: 46px;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-top: 10px;
}
.main__button1:hover{
    color: #fff;
    background: #6AB8EE;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    border: none;
    border-radius: 6px; 
}
.main__button1::before{
    content: "70 000 руб.";
    font-size: 15px;
    font-weight: 400;
}
.main__button1:hover::before{
    content: "В корзину";
    font-size: 15px;
    font-weight: 400;
}
.main__button2{
    width: 186px;
    height: 46px;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin-top: 10px;
}
.maintext1__button{
    font-size: 14px;
    font-weight: 400;
}
.maintext__button1{
    font-size: 16px;
    color: #02131F;
}
.maintext__button2{
    font-size: 16px;
    color: #02131F;
}
.main__project1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 0px;
}
.main__review{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 21px;
}
.main__review1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 0px;
}
.left__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__news{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 21px;
}
.main__news1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 0px;
}
.mainnews__columns{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
}
.main__down{
    display: flex;
    justify-content:space-between;
}
.main__down1{
    display: flex;
    justify-content:space-between;
    margin-top: 12px;
}
.main__down2{
    display: flex;
    justify-content:space-between;
    margin-top: 25px;
}
.mainnews__columns2{
    text-decoration-line: underline;
    margin-top: 5px;
}
.mainnews__columns3{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}
@media(max-width: 1240px){
    .leftColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2400px;
    }
    .rightColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__button{
        margin-top: 15px;
    }
    .main__rec{
        height: 632px;
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .main__new{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 20px;
    }
    .main__project{
        display: flex;
        flex-direction: column;
    }
    .main__project1{
        display: flex;
        flex-direction: column;
    }
    .left__arrow{
        margin-bottom: 10px;
    }
    .right__arrow{
        margin-top: 10px;
    }
    .main__news1{
        display: flex;
        flex-direction: column;
    }
    .main__review{
        display: flex;
        flex-direction: column;
    }
    .main__review1{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .main__news{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:1024px){
    .container{
        display: block;
    }
    .leftColumn{
        display: none;
    }
    .rightColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__rec{
        height: 632px;
        width: 332px;
        display: flex;
        flex-direction: column;
    }
    .main__new{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 20px;
    }
    .main__project1{
        display: flex;
        flex-direction: column;
    }
    .left__arrow{
        display: none;
    }
    .main__news1{
        display: flex;
        flex-direction: column;
    }
    .main__review1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .left__arrow{
        display: none;
    }
    .right__arrow{
        display: none;
    }
}

@media screen and (max-width:768px){
    .container{
        display: block;
    }
    .leftColumn{
        display: none;
    }
    .main__search{
        display: none;
    }
    .main__button{
        display: none;
    }
    .rightColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__rec{
        height: 632px;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .mainrec__text1{
        font-size: 20px;
        font-weight: 400;
    }
    .mainrec__text2{
        font-size: 20px;
        font-weight: 400;
    }
    .mainrec__text3{
        font-size: 20px;
        font-weight: 400;
    }
    .mainrec__text4{
        font-size: 20px;
        font-weight: 400;
    }
    .main__new{
        display: flex;
        flex-direction: column;
    }
    .main__project1{
        display: flex;
        flex-direction: column;
    }
    .main__news1{
        display: flex;
        flex-direction: column;
    }
    .main__review1{
        display: flex;
        flex-direction: column;
    }
    .left__arrow{
        display: none;
    }
    .right__arrow{
        display: none;
    }
}
@media screen and (max-width:430px){
    .leftColumn{
        display: none;
    }
    .rightColumn{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__rec{
        height: 632px;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .mainrec__text1{
        font-size: 20px;
        font-weight: 400;
    }
    .mainrec__text2{
        font-size: 20px;
        font-weight: 400;
    }
    .mainrec__text3{
        font-size: 20px;
        font-weight: 400;
    }
    .mainrec__text4{
        font-size: 20px;
        font-weight: 400;
    }
    .main__new{
        display: flex;
        flex-direction: column;
    }
    .main__project{
        display: flex;
        align-items: center;
    }
    .main__project1{
        display: flex;
        flex-direction: column;
    }
    .main__news1{
        display: flex;
        flex-direction: column;
    }
    .main__review1{
        display: flex;
        flex-direction: column;
    }
    .left__arrow{
        display: none;
    }
    .right__arrow{
        display: none;
    }
}
@media screen and (max-width:375px){
    .leftColumn{
        display: none;
    }
    .rightColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__rec{
        height: 632px;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .mainrec__text1{
        font-size: 14px;
        font-weight: 400;
    }
    .mainrec__text2{
        font-size: 14px;
        font-weight: 400;
    }
    .mainrec__text3{
        font-size: 14px;
        font-weight: 400;
    }    
    .mainrec__text4{
        font-size: 14px;
        font-weight: 400;
    }
    .button__rec{
        width: 100px;
        height: 56px;
    }
    .main__new{
        display: flex;
        flex-direction: column;
    }
    .main__project{
        display: flex;
        flex-direction: column;
    }
    .main__project1{
        display: flex;
        flex-direction: column;
    }
    .main__news{
        display: flex;
        flex-direction: column;
    }
    .main__news1{
        display: flex;
        flex-direction: column;
    }
    .main__review{
        display: flex;
        flex-direction: column;
    }
    .main__review1{
        display: flex;
        flex-direction: column;
    }
    .left__arrow{
        display: none;
    }
    .right__arrow{
        display: none;
    }
}
@media screen and (max-width:321px){
    .leftColumn{
        display: none;
    }
    .rightColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__rec{
        height: 632px;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .mainrec__text1{
        font-size: 14px;
        font-weight: 400;
    }
    .mainrec__text2{
        font-size: 14px;
        font-weight: 400;
    }
    .mainrec__text3{
        font-size: 14px;
        font-weight: 400;
    }
    .mainrec__text4{
        font-size: 14px;
        font-weight: 400;
    }
    .main__new{
        display: flex;
        flex-direction: column;
    }
    .main__project1{
        display: flex;
        flex-direction: column;
    }
    .main__news1{
        display: flex;
        flex-direction: column;
    }
    .main__review1{
        display: flex;
        flex-direction: column;
    }
    .left__arrow{
        display: none;
    }
    .right__arrow{
        display: none;
    }
}