.header__list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  margin-right: 25px;
}
.wrapper{
  display:flex;
  flex-direction:column;
  max-width: 1500px;
  margin: 0 auto;
}
.header__item1{
  background-color: #6AB8EE;
  border-radius: 100px;
  color: aliceblue;
  text-align: center;
  margin-left: 50px;
  width: 130px;
  height: 30px;
}
.header__kartinka{
  margin-left: 30px;
  margin-right: 0px;
}
.header__kartinka1{
  margin-left: 5px;
}
.header__item2{
  margin-right: 15px;
}